.background {
    
    background-image: url("../public/logo.png");
    background-attachment: fixed;
    background-position: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
}